

body{
  background-image: url("https://images.unsplash.com/photo-1520694478166-daaaaec95b69?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aHVtYW58ZW58MHwwfDB8fHww");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  margin-left: 13rem;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(229, 214, 198, 0.6);
  border: 1px solid #FFCC00;
  padding-bottom: 5rem;

}

.header {
  margin: 20px 0;
  color: red;
  text-decoration: underline;
}

.search-bar {
  margin-bottom: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  padding: 2rem;
}

th {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  color: black;
}

td{
  border: 1px solid #FFCC00;
  color: white;
  background-color: #5A5954;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #f2f2f2ba;
}

.notification{
  margin-right: 75rem;
  background-color: #5A5954;
  display: flex;
  align-items: left;
  cursor: auto;
  padding: 0.5rem;
}

.hyperlink-1{
  color: red;
  display: flex;
  align-items: left;
  padding-left: 2rem;
  font-size: x-large;

}

