@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply flex items-center justify-center w-full h-full
  text-black hover:text-white hover:bg-gray-800
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }
  @media (max-width: 768px) {
    .sidebar-icon {
     display: none;
    }

    .app{
      margin: 0;
      margin-top: 8.55rem;
      
    }

    .Sidebar {
      display: none;
    }

    /* Hide or adjust tooltip for mobile */
    .sidebar-tooltip {
      display: none;
    }
  }

}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #000000;
  max-width: 2000px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


