@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply flex items-center justify-center w-full h-full
  text-black hover:text-white hover:bg-gray-800
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }
  /* .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  } */
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #000000;
  max-width: 2000px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


