.legal{
  background-color: #5A5954;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.disclamer{
  margin-left: 12px;
  text-decoration: underline;
}

.disclamer_content{
  margin-left: 12px;
  margin-right: 12px;
  font-size: small;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;

}

.bottom_disc{
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;

}