.sidenavbar {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .sidenavbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidenavbar li {
    margin-bottom: 10px;
  }
  
  .sidenavbar a {
    color: #fff;
    text-decoration: none;
  }